body {
  font-family: sans-serif;
}

body, .grouped {
  margin: 0;
  padding: 0;
}

ul {
  display: block;
}

.nav-header li {
  padding: 0 10px;
}

.current-nav a {
  color: aqua;
}

footer img {
  width: 32px;
  padding: 0px 8px;
}

footer {
  padding: 15px 0;
  clear: both;
  bottom: 0;
  width: 100%;
  position: absolute;
  background-color: #222;
  color: #fff;
}

footer a {
  color: #fff;
}

.grouped li {
  display: inline-block;
}

.icon {
  fill: currentColor;
}
