<meta charset="utf-8">

{%- comment -%}
  Try the following in order:
  1. Title in page
  2. Title in `locales.yml`
  3. Site title
{%- endcomment -%}

{%- if page.title -%}
  {%- assign page_title = page.title -%}
{%- elsif locale_data_page.title_key -%}
  {%- assign page_title = locale_data.map[locale_data_page.title_key] -%}
{%- elsif locale_data_page.title -%}
  {%- assign page_title = locale_data_page.title -%}
{%- endif -%}

{%- if page_title -%}
  {%- capture title -%}
    {{ page_title }} &middot; {{ site.title }}
  {%- endcapture -%}
{%- else -%}
  {%- assign title = site.title -%}
{%- endif -%}

<title>{{ title }}</title>

{%- if page.description -%}
  {%- assign description = page.description -%}
{%- else -%}
  {%- assign description = locale_data.description -%}
{%- endif -%}
<meta name="description" content="{{ description }}">

{%- assign keywords = site.keywords -%}
{%- if locale_data.keywords -%}
  {%- assign keywords = keywords | concat: locale_data.keywords -%}
{%- endif -%}
{%- if page.keywords -%}
  {%- assign keywords = keywords | concat: page.keywords -%}
{%- endif -%}
{%- assign keywords = keywords | join: ", " %}
<meta name="keywords" content="{{ keywords }}">
