<footer>
  {%- unless page.localized == false -%}
    <div>
      {{- locale_data.view_other_langs -}}
      {% raw %}: {% endraw %}
      {%- comment -%}
        Create links to the current page for each locale, prepending each with a
        comma if `first_iter` is `false`
      {%- endcomment -%}
      {%- assign first_iter = true -%}
      {%- for other_locale in site.data.locales -%}
        {%- unless first_iter -%}
          {% raw %}, {% endraw %}
        {%- endunless -%}
        {%- assign first_iter = false -%}
        <a lang="{{ other_localse[0] }}" href="{{ page.url | replace: locale, other_locale[0] }}">
          {{- other_locale[1].lang -}}
        </a>
      {%- endfor -%}
    </div>
  {%- endunless -%}
  <div>
    <h3>{{ site.data.locales[locale].social_links }}</h3>
    <ul class="grouped">
      {% for social in site.data.social %}
      <li>
        <a href="{{ social.url }}" target="_blank" rel="noopener">
          <img src="/img/logo-{{ social.img }}.svg" title="{{ social.name }}" alt="{{ social.name logo }}">
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</footer>
