<nav>
  <div class="container">
    <ul class="container grouped">
      <li class="logo">
        <a href="{{ site.url }}/{{ locale }}">
          <img src="{{ site.url }}/logos/ocean-logo.svg">
        </a>
      </li>
      {%- for nav in site.data.nav -%}
        {%- assign nav_data = locale_data.pages[nav] -%}
        {%- if nav_data -%}
          {%- if nav == page.id -%}
          <li class="current-nav">
          {%- else -%}
          <li>
          {%- endif -%}
            <a lang="{{ locale }}" href="{{ site.url }}/{{ locale }}/{{ nav }}">
              {%- if nav_data.title_key -%}
                {{- locale_data.map[nav_data.title_key] -}}
              {%- else -%}
                {{- nav_data.title -}}
              {%- endif -%}
            </a>
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
</nav>
