{%- comment -%}
  This layout can be used in two ways:

    1. Given some `subdomain`:
       oceanpkg.org/page -> subdomain.oceanpkg.org

    2. Otherwise:
       oceanpkg.org/page -> oceanpkg.org/locale/page
{%- endcomment -%}

{%- include locale.liquid -%}

{%- if page.subdomain -%}
  {%- capture redirect_url -%}https://{{ page.subdomain }}.{{ site.domain }}{%- endcapture -%}
{%- else -%}
  {%- capture redirect_url -%}{{ site.url }}/{{ locale }}{{ page.url }}{%- endcapture -%}
{%- endif -%}

<!DOCTYPE html>
{% include gen_time.html %}
<html lang="{{ locale }}">
  <head>
    {%- include common_head.html -%}

    {%- if page.subdomain -%}
      <script>
        document.location = '{{ redirect_url }}';
      </script>
      <noscript>
        <meta http-equiv="refresh" content="0; url={{ redirect_url }}">
      </noscript>
    {%- else -%}
      <script type="text/javascript">
        const locales = {
          "en":    "en-US",
          "en-US": "en-US",
          "es":    "es-ES",
          "es-ES": "es-ES",
        };

        const code = window.navigator.language || window.navigator.userLanguage || "en"
        const lang = locales[code] || "en-US";

        document.location = "/" + lang + '{{ page.url }}' + document.location.hash;
      </script>
      <noscript>
        <meta http-equiv="refresh" content="0; url={{ redirect_url }}">
      </noscript>
    {%- endif -%}
  </head>
  <body>
    <p><a href="{{ redirect_url }}">Click here</a> to be redirected</p>
  </body>
</html>
